.right-palette-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.right-palette-container .tab-panel {
  padding: 8px;
}

.right-palette-form-item {
  display: block;
  margin-bottom: 8px;
}

.component-types {
  margin-bottom: 1rem;
}

.options-section {
  display: grid;
}

.option-input {
  padding-bottom: 0.25rem;
}

.add-header {
  padding-right: 1rem;
  margin-left: 2.9rem;
  margin-bottom: 1rem;
}

.delete-table-column {
  margin-top: 0.5rem;
}